<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Page</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>
      <a href="{% url 'blogs:new_blog' %}">Add Blog</a>
    </p>
    <ol>
      {% for blog in blogs %}
      <li>
        title: {{ blog.title }}<br />
        text: {{ blog.text }}<br />
          <a href="{% url 'blogs:edit_blog' blog.id %}">Edit Blog</a>
      </li>
      <p style="height: 1px; border-bottom: 1px dotted #666"></p>
      {% empty %}
      no blogs here
      {% endfor %}
    </ol>
  </body>
</html>
